build/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
CMakeScripts/
Testing/
MakeFile
compile_commands.json
cmake_install.cmake
*.o
*.obj
*.so
*.dll
*.dylib
*.a
*.lib
*.exe
*.out
.idea/
*.iml
.DS_Store
Thumbs.db
